blue = #074E88
lightBlue = #2196F3
html {
  box-sizing: border-box;
  min-width: 300px;
}
*, *:before, *:after {
  box-sizing: inherit;
  // z-index: 2;

}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-family: 'Lato';
	vertical-align: baseline;
  -webkit-tap-highlight-color: transparent;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	// overflow: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	max-width: 100%;
}


/*index.html page*/
/*index.html page*/
// .move-up {
// 	transition: all 2s ease;
// 	margin: 0 0 350px 0;
// }
// .small {
// 	transition: all 2s ease;
// 	transform: scale(.7);
// }


// .all-wrapper {
// 	background: white;
// 	opacity: 0;
// }
/*landing-intro section*/
.crawl-link {
	position: absolute;
}
#welcome-back {
	opacity: 0;
	color: #318FBC;
	transition: opacity .9s ease;
}
.heaven {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.white-overlay {
	display: none;
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 200;
}
.white-overlay-home {
	display: block;
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 200;
}
.landing-intro {

	height: 80vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	// margin-top: 70%
	// transform: translateY(-70%);
}
.landing-logo-box {
	width: 45%;
	text-align: center;
	padding-bottom: 10px;
  transform: scaleX(-1);
}
.fading-list {
  height: 32px;
}
.landing-name {
	color: #F4A259;
	font-size: 3em;
	text-align: center;
}
.alt-name {
	display: none;
	color: #F4A259;
	background: #fff;
	background: -webkit-linear-gradient(left, #fff 92%, transparent 8%);
	font-size: 2em;
	text-align: center;
	padding-right: 20px;
	transform: translateX(10px);
	opacity: 1;
}
.and-more {
	// transform: translateX(-40%);
	transform: translateY(-100%);
	transition: transform 1.2s cubic-bezier(0.79, 0, 0, 1);
  padding-right: 12px;

}
.studios {
	opacity: 0;
	color: #16A8C7;
	font-size: 2em;
	text-align: center;
	transition: transform 1.2s cubic-bezier(0.79, 0, 0, 1);
}
.landing-line-case {
	display: flex;
	justify-content: center;
	width: 170px;
	margin: 0 auto;

}
.line {
	// margin: 7.5px 0 15px 0;
	margin: 5px 0 35px 0;
	width: 0%;
	height: 3px;
	background: #16A8C7;
	transition: transform .6s ease-in-out;
}
.line-index-motion {
	transform: translateY(15px);
}
.line-case {
	width: 240px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}
.home-line-inner-case {
	display: flex;
	justify-content: center;
}
.home-line {
	// margin: 7.5px 0 15px 0;
	margin: 3px 0 5px 0;
	width: 0%;
	height: 1px;
	background: #F4A259;
}
.stand-in {
	display: none;
	position: fixed;
	top: 41px;
	left: 50%;
	transform: translateX(-50%);
	// margin: 7.5px 0 15px 0;
	width: 0;
	height: 3px;
	background: #8cba6e;
	z-index: 102;
}
.indicator-container {
	position: fixed;
	top: 41px;
	height: 3px;
	left: 0;
	right: 0;
	z-index: 103;
}
.content-indicator-backdrop {
	display: none;
	position: fixed;
	background: rgba(50,50,50,.6);
	top: 41px;
	height: 3px;
	left: 0;
	right: 0;
	z-index: 99;
}
.content-indicator-1 {
	display: none;
	position: fixed;
	top: 41px;
	left: 50%;
	transform: translateX(-50%);
	border-left: 5px solid #777;
	border-right: 5px solid #777;
	height: 3px;
	width: 0;
	z-index: 100;
}
.content-indicator-2 {
	display: none;
	position: fixed;
	top: 41px;
	left: 50%;
	transform: translateX(-50%);
	border-left: 5px solid #777;
	border-right: 5px solid #777;
	height: 3px;
	width: 0;
	z-index: 100;
}
.content-indicator-3 {
	display: none;
	position: fixed;
	top: 41px;
	left: 50%;
	transform: translateX(-50%);
	border-left: 5px solid #777;
	border-right: 5px solid #777;
	height: 3px;
	width: 0;
	z-index: 100;
}
// .affix-me {
// 	position: fixed;
// 	top: 61px;
// 	z-index: 10;
// 	background: black;
// }
.button-bar {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	text-align: center;
	height: 35px;
}
@keyframes enter-button-move {
	0% { transform: rotate(0deg); }
	40% { transform: rotate(0deg); }
	45% { transform: rotate(4deg); }
	47.5% { transform: rotate(-8deg); }
	50% { transform: rotate(12deg); }
	52.5% { transform: rotate(-12deg); }
	55% { transform: rotate(8deg); }
	57.5% { transform: rotate(-4deg); }
	60% { transform: rotate(0deg); }
	100% { transform: rotate(0deg); }
}
.enter-button {
	font-weight: 600;
	display: none;
	text-decoration: none;
	cursor: pointer;
	border-radius: 25px;
	border: 2px solid #F4A259;
	background: none;
	color: #F4A259;
	padding: 0 45px;
	margin-top: 40px;
	height: 40px;
	font-size: .8em;
	line-height: 2.9em;
	opacity: 1;
	transition: transform 1000ms ease, background 300ms ease, color 300ms ease;
	// animation-name: enter-button-move;
	animation: enter-button-move 6s ease-in-out infinite;
	// animation-delay: 2s;
	// animation-duration: 1s;
	// animation-iteration-count: 2;
	// animation-fill-mode: forwards;
	// animation-timing-function: ease-in-out;

}

.enter-button:hover {
	background: #F4A259;
	color: #fff;

}
/*home.html page*/
/*home.html page*/

/*intro section*/
.intro {
	width: 100%;
	height: 100vh;
  border-bottom: 2px solid #6b9b4c;
}
.nav-center {
	height: 41px;
	position: fixed;
	left: 0;
	right: 0;
	z-index: 13;
	background: #fff;

}
.nav-bar {
	height: 41px;
	width: 100%
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #fff;
	padding: 0 1%;
	border-bottom: 1px solid silver;
	position: fixed;
	z-index: 14;

}

.nav-bar-placeholder {
	width: 100%
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #fff;
	padding: 0 1%;
	border-bottom: 1px solid transparent;
	height: 41px;

}
.clickCatcher {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100vw;
	z-index: 12;
	-webkit-tap-highlight-color: transparent;

}
.logo-box {
	width: 15%;
	padding: 0;
	text-align: center;
	position: relative;
  margin-left: 5px;
}
.nav-logo {
	max-height: 50px;
	position: relative;
}
.home-button {
	position: relative;
}
.name {
	color: #444449;
	font-size: 1.2em;
	text-align: center;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
.menu-button {
  width: 15%;
	position: relative;
	text-align: right;
  margin-right: 5px;
	font-size: 1em;
	color: #333;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}
.burger {

}
// .burger::before {
// 	position: absolute;
// 	right: 5px;
// 	top: 2px;
// 	content:'\2630';
// 	font-size: .8em;
// 	transition: transform .5s ease-in-out;
//
// }

.home-studios {
	color: #777777;
}
.menu {
	display none
	background: #555;
	font-size: 2em;
	text-align: center;
	position: fixed;
	left: 0;
	right: 0;
	z-index: 13;
}
.menu-item {
	border-bottom: 1px solid grey;
	padding: 4% 0;
	z-index: 13;
}
.menu-link {
	color: #FFF;
	text-decoration: none;
}
.menu-item:first-child, .menu-item:last-child {
	background: #666;
}
.fa {
	transform: scale(.8);
}
.desktop-menu {
	display: none;
	margin-right: 1.5%;
	z-index: 13;
}
.desktop-menu-item {
	padding: 0 5px;
	text-decoration: none;
	color: #2196f3;
	font-size: 1.2em;
	font-weight: 600;
	transition: color .1s ease-in-out;
	z-index: 13;

}
.desktop-menu-item:hover {
	// color: #90CAF9;
		opacity: .75;
	// transition: color .01s ease;
}
// .unselected-menu-item {
// 	transition: color .1s ease-in-out;
// 	color: silver;
// }

.welcome-page {
  height: 92%;
	color: #5f84d6;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

}
.welcome-logo-box {
	margin-top: 30px;
	// width: 35%;
}
.welcome-logo {
	width: 105px;
	height: 72.5;
}
.brand-head {
	color: #444;
	font-size: 2em;
}
.grey-studios {
	color: #777;
}
.brand-sub {
	text-decoration: none;
	color: #03A9F4;
	padding: 0 15px 15px 15px;
	font-size: 1.2em;
	/*font-weight: 200;*/
	width: 90%;
}
/*.project-text {
	color: #555;
	margin-top: 10%;
	font-size: 2.2em;
	font-weight: 600;
	line-height: 1.1em;
}
.project-line-one {
	color: #FF6767;
}*/
.bottom-button {
	margin: 5px 0;
	font-size: .7em;
	line-height: 1em;
}

.contact-logo-welcome {
		height: 60px;
		width: 60px;
	}
.plain-menu-box {
  position: relative;
  padding-top: 10px;
  width: 95%;
	display: flex;
  justify-content: space-around;
	align-items: center;
}
.next-button {
  position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 75px;
	height: 75px;
	color: #404040;
	text-decoration: none;
	font-size: 1.2em;
	line-height: 1.2em;
	font-weight: 600;
	padding: 0;
  border-radius: 5px;
	// border-top: 2px solid #FFF;
	// border-bottom: 1px solid #555;
	// border-top: 1px solid #555;
	// box-shadow: 0px 0px 0px 3px #2196F3;
}
.services-next {
  background: #172938;
}
.team-next {
  background: #02355a;
}
.contact-next {
  background: #146db3;
}
.hidden-shadow-box {
  margin-top: 30px;
  position: relative;
  width: 95%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.shadows {
  width: 70px;
  height: 5px;
  border-radius: 40%;
  background: rgba(50, 50, 50, .2);
}
// .next-button:last-child {
// 	background: #2196F3;
// 	color: #fff;
// 	border-left: 1px solid #ADB0F3;
// }
// .next-button:first-child {
// 	background: #172938;
// 	color: #2196f3;
// 	border-right: 1px solid #ADB0F3;
// }
.contact-logo-box-welcome {

}
.just-looking {
	width: 90%;
	margin-top: 10%;
	font-size: 1.2em;
}
/*.menu-item:hover {
	background: #666;
}*/
/*end of intro section*/

/*start of team section*/
.team-section {
	// height: 100vh;
  position: relative;
  padding-top: 37px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	text-align: center;
	color: white;
	background: #02355a;
  border-top: 2px solid #6b9b4c;
  border-bottom: 2px solid #6b9b4c;
}
// .team-section::before {
// 	content: '';
// 	position: absolute;
// 	width: 0;
// 	height: 0;
// 	border-style: solid;
// 	border-color: transparent;
// 	border-bottom: 0;
// 	top: 0;
// 	left: 50%;
// 	border-top-color: #172938;
// 	border-width: 16px;
// 	transform: translateX(-50%);
// 	box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.4);
// }
.team-content {
	height: calc(100vh - 41px);
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}
.team-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 0 10px 0;
}


.section-header {
	font-size: 1.7em;
	font-weight: 600;
	color: #2196F3;
  text-shadow: 1px 1px #333;
	text-align: center;
}
.the-team {
	color: #F4A259;

}
.divider-line-case {
	display: flex;
	justify-content: center;
	width: 195px;
	margin: 0 auto;
}
.contact-divider-line-case {
	display: flex;
	justify-content: center;
	width: 140px;
}
.divider-line {
	width: 0%;
	height: 1px;
	background: #5A5A5A;
	margin-top: 3px;
}
.divider-line.in-view, .blue-line.in-view {
	width: 100%;
}
.members-contain {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;
}

.zean {
	position: relative;
	z-index: 2;
  font-size: 1.1em;
}
.nick {
	// position: absolute;
	// left: 8%;
	// transform: scale(.7);
	z-index: 0;
}
.adrian {
	// position: absolute;
	// right: 0;
	// transform: scale(.7);
	z-index: 1;
}
.kiljan {
	// position: absolute;
	// left: 0;
	// transform: translateX(0%) scale(.5);
	// z-index: 0;
}
.kane, .kiljan {
	z-index: 0;
	font-size: .8em;
}
.adrian, .nick {
	font-size: .8em;
}
.member-image {
	margin: 0 auto;
}
.nick-member-image, .adrian-member-image, .kiljan-member-image, .kane-member-image {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	border: 3px solid white;
	margin-top: 10%;
}
.adrian-member-image, .adrian-pic, .zean-member-image, .zean-pic, .nick-member-image, .nick-pic, .kiljan-member-image, .kiljan-pic, .kane-pic, .kane-member-image, .worker-nick, .worker-kiljan, .worker-zean, .worker-adrian, .worker-kane {
	background-image: url("/photos.jpg");
	background-repeat: no-repeat;
}
.adrian-member-image{
	background-position: -872px -2px;
	background-size: 940px;
}
.adrian-pic {
	background-size: 1480px;
	background-position: -1347px 0px;
}
.nick-pic {
	background-size: 1280px;
	background-position: -55px 0px;
}
.kiljan-member-image {
	background-position: -325px -7px;
  background-size: 800px;
	transition: background .1s ease-in-out;
}
.kiljan-pic {
	background-position: -738px 0px;
	background-size: 1400px;
}
.kane-member-image{
	background-position: -635px -14px;
  background-size: 800px;
}
.kane-pic {
	background-position: -1088px -2px;
	background-size: 1400px;
}

.zean-member-image {
	background-position: -361px -15px;
	background-size: 1800px;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	border: 3px solid white;
	margin-top: 10%;
}
.nick-member-image {
	background-size 700px
	background-position -38px -6px;
}
.blue-line-case {
  position: absolute;
  bottom: 31px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  width: 126px;
  margin-top: 140px;
}

.blue-line, .landscape-blue-line {
  margin: 0 auto;
  width: 0%;
  height: 2px;
  background: #2196f3;
  box-shadow: 0px -2px 8px #2196f3;
}
.landscape-blue-line {
  width: 100%;
}

.zean-pic {

	background-size 2171px
	background-position -421px -22px

}
.web-icon, .graphic-icon, .repair-icon, .systems-icon, .social-icon, .support-icon {
	background-image: url("/icons.png");
	background-repeat: no-repeat;
}
.web-icon {
  background-size: 940px;
  background-position: -240px 0px;
}
.graphic-icon {
  background-size: 1000px;
  background-position: -427px 0px;
}
.repair-icon {
  background-size: 1000px;
  background-position: 42px 0px;
}
.systems-icon {
  background-size: 840px;
  background-position: -629px 0px;
}
.social-icon {
  background-size: 1000px;
  background-position: -98px 0px;
}
.support-icon {
  background-size: 1000px;
  background-position: -911px 0px;
}

.nameplate {
	display: block;
	padding-top: 4%;
	font-size: 1em;
	color: #318FBC;
}
.mini-desc {
	color: #fff;
	width: 91%;
	margin: 5px auto;
	font-size: 1em;
  font-weight: 100;
	line-height: 1.2em
	text-align: left;

}
.show-next {
	text-decoration: none;
	text-align: center;
	font-size: 1.1em;
	font-weight: 100;
	line-height: 1.8em;
	border-radius: 8px;
	// box-shadow: 0px 0px 0px 2px #666;
	padding: 0 10px;
  margin-bottom: 40px;
}
.show-next:hover {
	border: 2px solid #fff;
	color: #fff;
	background: #2196f3;
	// box-shadow: 0px 0px 0px 2px #2196f3;
}
.to-services {
	background: transparent;
	border: 2px solid #2196f3;
	color: #2196f3;
  margin-top: 5px;
}
.to-team {
	background: transparent;
	border: 2px solid #2196f3;
	color: #2196f3;
}
/*end of team section*/

/*start of services section*/
.services-section {
  padding-top: 41px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	background: #172938;
	color: #fff;
	position: relative;
  border-top: 2px solid #6b9b4c;
  border-bottom: 2px solid #6b9b4c;
}
// .services-section::before {
// 	content: '';
// 	position: absolute;
// 	width: 0;
// 	height: 0;
// 	border-style: solid;
// 	border-color: transparent;
// 	border-bottom: 0;
// 	top: 0;
// 	left: 50%;
// 	border-top-color: #fff;
// 	border-width: 16px;
// 	transform: translateX(-50%);
// 	z-index: 10;
// 	box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.4);
// }
.services-containing-container {
	height: calc(100vh - 41px);
  width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.services-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
}
.you {
	color: #F4A259;
}
.extra-desktop-services {
	display: none;
}
.service {
	display: flex;
	margin: 3% auto;
	width: 95%;
	justify-content: center;
	text-decoration: none;
}
.servicio-links {
	text-decoration: none;
	color: #2196f3;
	font-size: .9em;
}
.thumb-holder {
	display: flex;
	flex-shrink: 0;
	justify-content: center;
	align-items: flex-start;
	margin-right: 4%;
  width: 60px;

}
.service-thumb-holder {
  margin: 10px auto;
  width: 100px;
}
.service-desc {
	width: 75%;
}
.desc-head {
	margin-bottom: 3%;
	font-size: 1.3em;
	font-weight: 100;
	color: #2196F3;
}
.desc-body {
	font-size: .9em;
	font-weight: 100;
	line-height: 1.15em;
	// color: #666;
	text-align: left;
	color: white;
}



.services-button {
	text-decoration: none;
	text-align: center;
	color: white;
	font-size: 1.8em;
	line-height: 1.8em;
	background: #666;
	border: 4px solid white;
	border-radius: 7px;
	box-shadow: 0px 0px 0px 4px #666;
	margin-top: 10%;
	padding: 0 5%;
	transition: all .5s ease;
}
.services-button:hover {
	background: #2196f3;
	box-shadow: 0px 0px 0px 4px #2196f3;
}


/*end of services section*/

/*start of contact section*/
.contact-section {
	// height: 91vh;
  padding-top: 41px;
	height: 100vh;
	display: flex;
	flex-direction column
	align-items center
	justify-content: flex-end;
	position: relative;
	background: -webkit-linear-gradient(#2196F3, #07406E);
	background: -moz-linear-gradient(#2196F3, #07406E);
	color: white;
  border-top: 2px solid #6b9b4c;
  border-bottom: 2px solid #6b9b4c;
	// padding-bottom 30px;

}
// .contact-section::before {
// 	content: '';
// 	position: absolute;
// 	width: 0;
// 	height: 0;
// 	border-style: solid;
// 	border-color: transparent;
// 	border-bottom: 0;
// 	top: 0;
// 	left: 50%;
// 	border-top-color: #6ed3c7;
// 	border-width: 16px;
// 	transform: translateX(-50%);
// 	z-index: 10;
// 	box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.4);
// }
.contact-content {
	height: calc(100vh - 41px);
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}
.arrow-and-text {
	text-align: center;
	margin-top: 20px;
}
.top-arrow {
	width: 40px;
	height: 40px;
	z-index: 6;

}
.to-top-text {
	// display: none;
	font-weight: 300;
	font-size: .7em;
}
.smooth {
	cursor: pointer;
}
.contact-head {
    text-align: center;
    font-size: 1.7em;
    font-weight: 600;
    color: #fff;
    text-shadow: 1px 1px #333;
}

.info-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.label-group {
	width: 14%;
	margin: 0 auto;
}
.info-group {
	width: 60%;
	margin: 0 0 0 auto;
}
.info-head {
	color: #67B4F4;
	padding: 10px 0 5px 0;
}
.info {
	padding: 5px 0 10px 0;

}
.emailer {
  height: 40px;
}
.mailer {
	// text-decoration: none;
	color: white;
}
.address-link {
	color: #fff;
	text-decoration: none;
}
.top-button-box
	display flex

.to-top-button
	text-decoration: none;
	text-align: center;
	color: white;
	font-size: 1.4em;
	line-height: 1.4em;
	background: #666;
	border: 4px solid white;
	border-radius: 4px;
	box-shadow: 0px 0px 0px 4px #666;
	margin: 10% auto 0 auto;
	padding: 0 10%;


/*end of contact section*/

// footer section

.foot {
  position: relative;
	// position: fixed;
	// bottom: 0;
	// width: 100%;
	display: flex;
	flex-direction: column;
	font-weight: 600;
	background-color: #172938;
	// opacity: 0;
	// z-index: 1;
  border-top: 2px solid #6b9b4c;
}
.foot-list {
  display: flex;
  flex-direction: column;
	width: 130px;
	padding: 20px 0 0 20px;
}
.foot-head
	font-size 1.3em
	padding-bottom 10px
	color #2196F3

.foot-item
	font-size 1.1em
	padding-bottom 5px
	color #4378A3
	text-decoration: none;
	transition: color 1s ease;

.foot-item:hover {
	color: #80A9CB;
	transition: color .01s ease;
}
.unselected-foot-item {
	transition: color ease;
	color: #555;
}
.copy
	width 100%
	text-align right
	padding 10px 20px
	font-size: .8em;
	color #223d53

.trans-div {
	width: 100%;
	height: 0;
	z-index: 0;
}


// team page content starts here

.member-sidebar {
  display none
	position: fixed;
	z-index: 12;

	width: 25%;
	bottom: 175px;
	left: 220px;
	border-radius: 4px;
	transform: translateX(-5%);
	background: rgba(50,50,50,.3);



}
.sidebar-head {
	background: #333;
	height: 20px;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}
.sidebar-header {
	color: #999;
}
.sidebar-member-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 90%;
	padding: 9px 0;
	// border-radius: 4px;
}
.sidebar-member {
	position: relative;
	color: #333;
	background: #fff
	border-top: 1px solid grey;
	height: 80px;
	width: 95%;
	margin: 0 auto;
	cursor: pointer;
}

// .sidebar-member:first-child {
// 	border-top-right-radius 4px
// 	border-top-left-radius 4px
// }
// .sidebar-member:last-child {
// 	border-bottom-right-radius 4px
// 	border-bottom-left-radius 4px
// }
.sidebar-member-container {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
}
.sidebar-indicator {
	width: 0;
	height: 100%;
	background: #318FBC;
	transition: width .2s ease-in-out;
}
.member-name {
	padding-left: 10px;
}
.sidebar-title {
	font-size: 1.3em;
}
.sidebar-subtitle {
		opacity: .75;
	}
.testicles {
	width: 10px;

}
.selected-item {
	width: 10px;
}
.selected-bg {
	background: #318FBC;
}
.sidebar-image-holder {

	height: 100%;
	width: 84px;
	background: url("/zean.jpg") no-repeat center center;
	background-size: 250px;
	background-position: -80px -20px;
}
#sidebar-1 {

}
#sidebar-2 {

}
#sidebar-3 {

}


.team-welcome {
	text-align: center;
	width: 80%;
	margin: 5px auto 10px auto;
	padding: 4% 0;

}
.team-welcome-head {
	font-size: 1.8em;
	font-weight 900
	color #333
	padding: 5px;

}
.team-welcome-sub {
	width: 220px;
	font-size 1.2em
	color: #444;
	padding: 2% 0;
	margin: 0 auto;
}
.gray-lines-and-banner {
	display flex
	align-items center
	justify-content space-between

}
// .gray-line-one {
// 	background #333
// 	height 2px
// 	width 20%

// }
.team-banner {
  display: flex;
  justify-content: center;
  align-items: center;
	background-color: #6b9b4c;
	color: white;
	font-size: 1.1em;
  font-weight: 600;
	height: 30px;
	width: 130px;
	text-align: center;
	margin: 0 auto;
	position: relative;
  cursor: pointer;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
.team-banner::before {
	left: -30px;
	top 0
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-right: 15px solid #6b9b4c;
	border-bottom: 15px solid #6b9b4c;
	border-left: 15px solid transparent;
}
.team-banner::after {
	right: -30px;
	top 0
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid #6b9b4c;
	border-left: 15px solid #6b9b4c;
}
.bottom-banner {
  position: absolute;
  left: 50%;
  top: -30px;
  transform: translateX(-50%);

  background: #172938;
}

// .gray-line-two {
// 	background #333
// 	height 2px
// 	width 20%

// }

.team-bios {
	width: 100%;
	// text-align: center;
}
// .nick-bio:last-child {
// 	border-bottom: 2px solid #333;
// }
.bio {
	position: relative;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	// border-top: 2px solid #333;
}
.bio-content {
	height: calc(100vh - 41px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.next-arrow-top {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-color: transparent;
	border-top: 10px;
	top: 10px;
	left: 50%;
	border-bottom-color: #57D2E5;
	border-width: 16px;
	transform: translateX(-50%);
	z-index: 4;
}
.next-arrow-bottom {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-color: transparent;
	border-bottom: 0;
	bottom: 10px;
	left: 50%;
	border-top-color: #57D2E5;
	border-width: 16px;
	transform: translateX(-50%);
	z-index: 4;
}
.zean-bio {
	background-color #7DDCEB
	// padding-top: 20px;
		z-index: 3;
}
.top-bio {
	border-top: 2px solid #6b9b4c;
}
// .top-bio::before {
// 	content: none;
// }
.alt-bio {
	background-color: #E9E092;
	position: relative;
}

// .alt-bio::after {
// 	content: '';
// 	position: absolute;
// 	width: 0;
// 	height: 0;
// 	border-style: solid;
// 	border-color: transparent;
// 	border-bottom: 0;
// 	top: 0;
// 	left: 50%;
// 	border-top-color: #333333;
// 	border-width: 16px;
// 	transform: translateX(-50%);
// 	box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.4);
// 	z-index: 4;
// }
.nick-bio {
	background-color #E9E092
	position: relative;
	z-index: 4
}
// .nick-bio::before {
// 	border-bottom-color: #E1D56B;
// }
// .nick-bio::after {
// 	border-top-color: #E1D56B;
// }
.adrian-bio {
	background-color #90DCA0
	position: relative;
	z-index: 5
}
.kiljan-bio {
	background-color #D9978E
	position: relative;
	z-index: 5
}
.kane-bio {
	background-color #C2D691
	position: relative;
	z-index: 5
}
// .adrian-bio::before {
// 	border-bottom-color: #6CD082;
// }
// .adrian-bio::after {
// 	content: none;
// }

.bio-image-holder {
	text-align: center;
}
.bio-image {
	border-radius: 50%;
	width: 126px;
	height: 126px;
	border: 4px solid #333;
	margin: 0 auto 10px 0;
	transition: all 1s ease-out;
}
.service-image {
	width: 140px;
	height: 110px;

}

.bio-name {
	display: block;
	padding: 0 0 3% 0;
	font-size: 1.4em;
	text-align: center;
	color: #074e88;
}
.bio-text {
	color: #4A4A4A;
	font-weight: 100;
	padding: 2% 5%;
	font-size .95em
	line-height: 1.25em;
}
// .bio-divider {
// 	background #333
// 	height 2px
// 	width 100%
// 	margin: 10% auto 0 auto;
// }
.service-plug, .contact-service-plug
	position: relative;
	top: 0;
	text-align: center;
	padding: 25px 0;

.service-plug::before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-color: transparent;
	border-bottom: 0;
	top: 0;
	left: 50%;
	border-top-color: #c2d691;
	border-width: 16px;
	transform: translateX(-50%);

}
.services-page-plug::before {
  border-top-color: #e9e092;
}

.check-it
	width 220px
	font-size 1.2em
	font-weight: 500;
	color: #333;
	line-height: 1.2em;
	margin: 0 auto 5% auto;


// .nick-bio::before {
// 	content: '';
// 	position: absolute;
// 	width: 0;
// 	height: 0;
// 	border-style: solid;
// 	border-color: transparent;
// 	border-bottom: 0;
// 	top: 0;
// 	left: 50%;
// 	border-top-color: #7DDCEB;
// 	border-width: 16px;
// 	transform: translateX(-50%);
// }

// .adrian-bio::before {
// 	content: '';
// 	position: absolute;
// 	width: 0;
// 	height: 0;
// 	border-style: solid;
// 	border-color: transparent;
// 	border-bottom: 0;
// 	top: 0;
// 	left: 50%;
// 	border-top-color: #E9E092;
// 	border-width: 16px;
// 	transform: translateX(-50%);
// }

// team page content ends here

// services page starts here (and uses some of the team page selectors above)
.down-arrow-case {
  display: none;
}
.realms-holder {
  display: none;
}

// services page ends here

// contact page starts here

.contact-page-section {

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.contact-box-container {
	background: #2196F3;
	border-top: 2px solid #333;
	border-bottom: 2px solid #333;

}

.contact-logo-box {

}
.contact-info-grouping {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	margin: 10px 0;
  font-weight: 100;
}

.contact-logo {
	border-radius: 50%;
	background: #333;
	height: 60px;
	width: 60px;

}
.contact-info-box {
  width: 90%;
	color: white;
	font-size: 1.1em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 auto;

}
.contact-info-head {
	width: 40px;
	height: 40px;
}
.contact-info {
	font-size: 1.1em;
	padding: 0 0 6px 15px;
  text-decoration: none;
}
.phone {
  text-decoration: none;
  color: #fff;
}


.contact-info-wrapper {

}
.contact-foot
	// position: fixed;
	// bottom: 0;
	// width: 100%;
	display flex
	align-items: flex-start;
	justify-content: space-around;
	font-weight 600
	background-color #fff
	// opacity: 0;
	// z-index: 1;

.contact-foot-list
	display: flex;

	flex-direction: column;
	padding-top 20px

.contact-foot-head
	font-size 1em
	padding-bottom 10px
	color #2196F3

.contact-foot-item
	font-size .8em
	padding-bottom 5px
	color #888
	text-decoration: none;
	transition: color 1s ease;

.contact-foot-item:hover {
	color: #2196f3;
	transition: color .01s ease;
}
.contact-unselected-foot-item {
	transition: color ease;
	color: #555;
}
.contact-copy
	width 100%
	text-align center
	padding: 30px 0 10px 0;
	font-size: .7em;
	color #DEDEDE



// CONTACT PAGE CSS FOR PARTNERS BAND WITH CIRCLULAR PARTNER PICTURES IN IT
// CONTACT PAGE CSS FOR PARTNERS BAND WITH CIRCLULAR PARTNER PICTURES IN IT

.animation-element
	position relative
	opacity 0
	transition all .5s ease
	transform: translateY(20px);

.animation-element.divider-line, .animation-element.blue-line {
	transform: translateY(0px);
}
.animation-element.bio {
	position relative
	opacity 1
	transition all 1s ease
	transform translateY(0)
}
.top-of-next {
	width: 100%;
	height: 41px;
	background: #7DDCEB;
	position: absolute;
	top: 0;

}
.top-of-next::before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-color: transparent;
	border-bottom: 0;
	top: 0;
	left: 50%;
	border-top-color: #57D2E5;
	border-width: 16px;
	transform: translateX(-50%);
	z-index: 4;
}
.show-rest {
	width: 100%;
	height: 41px;
	background: #E9E092;
	position: absolute;
	bottom: 0;

}
.show-rest::after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-color: transparent;
	border-bottom: 0;
	top: 0;
	left: 50%;
	border-top-color: #E1D56B;
	border-width: 16px;
	transform: translateX(-50%);
	z-index: 4;
}
.team-show-rest {
	background: #90DCA0;
}
.team-show-rest::after {
	border-top-color: #6CD082;
}
.first-next {
	// background: #e9e092;
}
.second-next {
	background: #E9E092;

}
.second-next::before {
	border-top-color: #E1D56B;
}
.third-next {
	background: #7ddceb;
}
.fourth-next {
	background: #E9E092;

}
.fourth-next::before {
	border-top-color: #E1D56B;
}

.animation-element.in-view
	opacity 1
	transform: translateY(0);

.animation-element.scaled-partner.in-view {
	transform: translateY(0) scale(1.3, 1.3);
}

.animation-element.downscaled-partner.in-view {
	transform: translateY(0) scale(0.7, 0.7);
}
.animation-element.bio.in-view {

}

.partner-band
	display flex
	justify-content space-around
	align-items center
	border-top 1px solid rgba(50,50,50,.1)
	border-bottom 1px solid rgba(50,50,50,.1)
	margin: 0 5px;

.partner, .scaled-partner, .downscaled-partner
	width 40px
	height 40px
	margin 15px 0
	padding 2px
	border-radius 50%
	// transition all 1s ease
	cursor pointer
	background #2196f3
	z-index: 11;

.friends {
	width: 50px;
	font-size: .5em;
	transform: translateY(5px);
	color: #999;
	margin: 0 auto;
	text-align center
	position: relative;
	background: #fff;
}
.click-catcher-2 {
	display: none;
	position: fixed;
	z-index: 10;
	width: 100%;
	height: 100%;
}
// CONTACT PAGE CSS FOR PARTNERS BAND WITH CIRCLULAR PARTNER PICTURES IN IT
// CONTACT PAGE CSS FOR PARTNERS BAND WITH CIRCLULAR PARTNER PICTURES IN IT


// UNDER 413px
// UNDER 413px
// UNDER 413px
// UNDER 413px
// UNDER 413px
@media (max-width: 320px) and (min-height: 520px) and (orientation: portrait) {

  .service-pair {
    // margin: 10px 5px;
    margin: 0 10px;
  }
  .service {
    margin: 6% 0;
  }
}



@media (max-width: 374px) and (min-width: 340px) and (orientation: portrait)  {

	.landing-logo-box {
		width: 165px;
	}
	.landing-name {
		font-size 2.3em
	}
	.fading-list {
		height: 32px;
	}
  .logo-box {
    width: 14%;
  }
	.name {
		font-size: 1.3em;
	}
	// .enter-button {
	// 	padding: 0 25px;
	// 	height: 30px;
	// 	font-size: .6em;
	// 	line-height: 2.9em;
	// }
	.menu-item {
		font-size: .8em;
    padding: 5% 0;
	}
	.brand-head {
		font-size: 2em;
	}
	.brand-sub {
		font-size: 1.3em;
		width: 280px;
	}
	.line-case {
		width: 240px;
	}
	.thumb-holder {
		width: 15%
	}

	// team section
  .zean-member-image {
  	background-position: -356px -15px;
  	background-size: 1800px;
  	width: 90px;
  	height: 90px;
  }
  .nick-member-image, .adrian-member-image, .kiljan-member-image, .kane-member-image {
  	border-radius: 50%;
  	width: 60px;
  	height: 60px;
  	border: 3px solid white;
  	margin-top: 10%;
  }
  .adrian-member-image{
  	background-position: -867px -3px;
  	background-size: 940px;
  }
  .nick-member-image {
  	background-size 700px
  	background-position -33px -4px;
  }
  .kiljan-member-image {
  	background-position: -336px -5px;
    background-size: 840px;
  	transition: background .1s ease-in-out;
  }
  .kane-member-image{
  	background-position: -662px -5px;
    background-size: 840px;
  }
  // .adrian-pic {
  // 	background-size: 1480px;
  // 	background-position: -1347px 0px;
  // }
  // .nick-pic {
  // 	background-size: 1280px;
  // 	background-position: -55px 0px;
  // }
  // .kiljan-pic {
  // 	background-position: -738px 0px;
  // 	background-size: 1400px;
  // }
  // .kane-pic {
  // 	background-position: -1088px -2px;
  // 	background-size: 1400px;
  // }

	// .member-image {
	// 	height: 100px;
	// 	width: 100px;
	// }
	// .show-next {
	// 	font-size: 1.3em;
	// 	line-height: 1.3em;
	// 	margin: 30px 0 20px 0;
	// }


	// services section
  .section-header {
    font-size: 2em;
  }
	.services-section {
		height: 100vh;
    padding: 0;
	}
  .services-containing-container {
    height: calc(100vh - 41px);
    padding-top: 0;
  }

	.services-button {
		font-size: 1.4em;
		padding-bottom: 3px;
	}
	.service-image {
		margin-bottom: 0;
	}
  .service {
    padding: 0 10px;
    margin: 20px 0;
  }
  .service-thumb {
    width: 50px;
    height: 50px;
  }

  // team section
  .team-container {
    margin: 0 0 50px 0;
  }
  .members-contain {
    width: 94%;
    margin: 10px 0;
  }
  .mini-desc {
    width: 100%;
    line-height: 1.3em;
    padding: 0 15px;
  }
	// contact section
  .contact-head {
    font-size: 2em;
  }
  .contact-divider-line-case {
    margin-bottom: 10px;
  }
  .contact-info {
    font-size: 1.3em;
  }

  // footer section
	.foot-head {
		font-size: 1.2em;
	}
	.foot-item {
		font-size: 1em;
	}
	.copy {
		padding: 10px 10px;

	}
	.foot-list {
		padding: 15px 0 0 15px;
	}

  // team page

  .bio-text {
    font-size: 1.2em;
  }
}










// ANYTHING ABOVE 414 AND UNDER 465
// ANYTHING ABOVE 414 AND UNDER 465
// ANYTHING ABOVE 414 AND UNDER 465
// ANYTHING ABOVE 414 AND UNDER 465
// ANYTHING ABOVE 414 AND UNDER 465
@media (max-width: 413px) and (min-width: 375px) and (orientation: portrait) {
	.welcome-logo {
		width: 180px;
	}
  .menu-item {
    padding: 5% 0;
  }
	.brand-head {
		font-size: 2.7em;
	}
	.brand-sub {
		font-size: 1.5em;
    width: 80%;
	}
	.line-case {
		width: 300px;
	}
	.divider-line-case {
		width: 230px;
	}
  .services-containing-container {
    padding-top: 20px;
  }
	.section-header {
		font-size: 2em;
	}
	.service-pair {
		padding: 0;
	}
	.service {
		margin: 20px 0;
    padding: 0 15px;
	}
  .team-content {
    padding-top: 20px;
  }
  .mini-desc {
    font-size: 1.1em;
  }
	.middle-service-margin {
		margin: 30px 0;
	}
	.desc-head {
		font-size: 1.5em;
	}
	.desc-body {
		font-size: 1.1em;
		line-height: 1.2em;
	}
	.show-next {
		margin-top: 15px;
		padding: 0 15px;
		font-size: 1.4em;
	}
  .members-contain {
    width: 75%;
    padding: 10px 0;
  }
  .contact-head {
    font-size: 2em;
  }
  .contact-divider-line-case {
    width: 160px;
    margin-bottom: 10px;
  }
  .contact-info {
    font-size: 1.3em;
  }
  .top-arrow {
    width: 50px;
    height: 50px;
  }
  .to-top-text {
    font-size: .8em;
  }

  // team page
  .bio-text {
    font-size: 1.1em;
  }
}
@media (max-width: 650px) and (min-width: 414px) and (orientation: portrait) {
	.landing-logo-box {
		width: 250px;
	}
	.fading-list {
		height: 40px;
	}
	.enter-button {
		padding: 0 45px;
		height: 40px;
		font-size: .9em;
		line-height: 2.6em;
		margin-top: 20px;
	}
	.alt-name, .studios {
		font-size: 2.5em;
	}
  .menu-button, .name {
    font-size: 1.3em;
  }
	.brand-head {
    font-size: 2.4em;
  }
	.brand-sub {
		width: 300px;
    font-size: 1.4em;
	}
  .plain-menu-box {
    padding-top: 20px;
  }
	.landing-line-case {
		width: 220px;
	}
	.line-case {
		width: 280px;
	}
	.divider-line-case {
		width: 250px;
	}
	.contact-divider-line-case {
	width: 140px;
	}
	.stand-in {
	display: none;
	position: fixed;
	top: 60px;
	left: 50%;
	transform: translateX(-50%);
	// margin: 7.5px 0 15px 0;
	width: 0;
	height: 3px;
	}
	.indicator-container, .content-indicator-backdrop, .content-indicator-1, .content-indicator-2, .content-indicator-3 {
		top: 60px;
	}
	.button-bar {
		height: 45px;
	}
	.welcome-logo-box {
		margin-top: 20px;
	}
	.welcome-logo {
		width: 170px;
	}
	.bottom-button {
		// margin-top: 15px;
	}
	.nav-bar-placeholder, .nav-bar, .nav-center {
		height: 60px;
	}
  .blue-line-case {
    width: 195px;
  }
	.section-header {
		margin: 0;
	}
	.services-section {
		// padding: 40px 0 50px 0;
		padding: 0;
		// height: 92vh;
		height: 100vh;
	}
	.team-content {
		// padding: 40px 0;
	}
  .section-header {
    font-size: 2.2em;
  }
  .members-contain {
    width: 70%;
  }
  .mini-desc {
    font-size: 1.2em;
  }
  .show-next {
    padding: 10px 40px;
    margin: 40px 0 0 0;
		line-height: 1.3em;
    font-size: 1.3em;
  }
	.bio {
		height: 100vh;
    justify-content: center;
	}
  .bio-content {
    height: calc(100vh - 60px);
  }
	.bio:last-child {
		height: 100vh;
	}
	// .zean-bio {
	// 	padding-top: 20px;
	// }
	.contact-section {
		padding-top: 20px;
		padding-bottom: 60px;
	}
	.contact-head {
    font-size: 2.2em;
	}
  .contact-divider-line-case {
    width: 160px;
    margin-bottom: 20px;
  }
  .contact-info {
    font-size: 1.2em;
  }
	.team-banner {
		width: 200px;
	}
	.bio-image, .service-image {
		margin: 0 auto 10px auto;
	}
	.partner, .scaled-partner, .downscaled-partner {
		width: 55px;
		height: 55px;
		margin: 20px 0;
	}
	.check-it {
		width: 300px;
		font-size: 1.6em;
		margin 20px auto 10px auto
	}
	.top-of-next, .show-rest {
		height: 60px;
	}
  // team page
  .bio-text {
    font-size: 1.2em;
  }

}

// TABLETS 466px TO 650px
// TABLETS 466px TO 650px
// TABLETS 466px TO 650px
// TABLETS 466px TO 650px
// TABLETS 466px TO 650px

// @media (min-width: 466px) and (orientation: portrait) {
//
// 	.landing-logo-box {
// 		width: 275px;
// 	}
// 	.fading-list {
// 		height: 40px;
// 	}
// 	.alt-name, .studios {
// 		font-size: 2.5em;
// 	}
// 	.and-more {
// 		// padding-right: 7px;
// 	}
// 	.landing-line-case {
// 		width: 230px;
// 	}
// 	.line-case {
// 		width: 320px;
// 	}
// 	.stand-in {
// 		top: 60px;
// 	}
//   .stand-in, .content-indicator-backdrop, .indicator-container, .content-indicator-1, .content-indicator-2, .content-indicator-3 {
//     top: 60px;
//   }
// 	.divider-line-case {
// 		width: 220px;
// 	}
// 	.contact-divider-line-case {
// 		width: 140px;
// 	}
// 	.indicator-container, .content-indicator-backdrop, .content-indicator-1, .content-indicator-2 {
// 		top: 60px;
// 	}
// 	.button-bar {
// 		height: 50px;
// 	}
// 	.enter-button {
// 		padding: 0 35px;
// 		height: 40px;
// 		font-size: .9em;
// 		line-height: 2.6em;
// 	}
// 	.nav-bar-placeholder, .nav-bar, .nav-center {
// 		height: 60px;
// 	}
// 	.welcome-logo-box {
// 		width: inherit;
// 	}
// 	.welcome-logo {
// 		width: 175px;
// 	}
// 	.brand-sub {
// 		width: 380px;
// 	}
// 	.bottom-button {
// 		// margin-top: 15px;
// 	}
// 	.next-button {
// 		padding: 10px;
// 	}
// 	.mini-desc {
// 		margin: 10px auto;
// 	}
// 	.section-header {
// 		margin: 50px 0 0 0;
// 	}
// 	.show-next {
// 		margin-top: 40px;
// 		padding: 0 20px;
// 	}
// 	.contact-head {
// 		padding: 45px 0 0 0;
// 	}
// 	.team-banner {
// 		width: 200px;
// 		font-size: 1.4em;
// 		height: 36px;
// 	}
// 	.team-banner::before {
// 		left: -36px;
// 		border-top: 18px solid transparent;
// 		border-right: 18px solid #333;
// 		border-left: 18px solid transparent;
// 		border-bottom: 18px solid #333;
//
// 	}
// 	.team-banner::after {
// 		right: -36px;
// 		border-top: 18px solid transparent;
// 		border-right: 18px solid transparent;
// 		border-left: 18px solid #333;
// 		border-bottom: 18px solid #333;
//
// 	}
// 	.team-content {
// 		// padding: 25px 0 50px 0;
// 	}
// 	.bio {
// 	}
// 	.zean-bio {
// 		padding-top: 30px;
// 	}
// 	.bio-image, .service-image {
// 		margin: 0 auto;
// 	}
// 	.contact-info {
// 		font-size: 1.1em;
// 	}
// 	.check-it {
// 		width: 290px;
// 		font-size: 1.6em;
// 		margin: 0 auto 2% auto;
// 	}
// 	.bio-name {
// 		padding-top: 10px;
// 	}
// 	.contact-section {
// 		padding-bottom: 60px;
// 	}
// 	.partner-band {
// 		margin: 0 10px;
// 	}
// 	.partner, .scaled-partner, .downscaled-partner {
// 		width: 65px;
// 		height: 65px;
// 		margin: 20px 0;
// 	}
// }
// @media (min-width: 590px) and (orientation: portrait) {
// 	.enter-button {
// 		padding: 0 45px;
// 		height: 45px;
// 		font-size: .9em;
// 		line-height: 2.9em;
// 		margin-top: 10px;
// 	}
// 	.brand-sub {
// 		padding: 0 40px 40px 40px;
// 	}
// 	.partner-band {
// 		margin: 0 30px;
// 	}
// 	.partner, .scaled-partner, .downscaled-partner {
// 		width: 75px;
// 		height: 75px;
// 	}
// }

@media (min-width: 650px) and (orientation: portrait) {
	.landing-logo-box {

	}
  .brand-head {
    font-size: 3em;
  }
  .brand-sub {
		width: 330px;
    font-size: 1.6em;
	}
  .line-case {
    width: 340px;
  }
	.name, .menu-button {
		display: none;
	}
  .stand-in, .indicator-container, .content-indicator-backdrop, .content-indicator-1, .content-indicator-2, .content-indicator-3 {
		top: 60px;
	}
	.desktop-menu {
		display: flex;
	}
	.welcome-logo-box {

	}
	.welcome-logo {
		width: 200px;
	}
	.plain-menu-box {
		position: relative;
		flex-direction: row;
		justify-content: space-around;

	}



	.next-button {
		margin: 10px;
		border: 4px double #fff;
		line-height: 1.1em;
		height: 116px;
		width: 190px;
	}
  .next-button:first-child {
    border-right: 4px double #fff;
  }
  .next-button:last-child {
    border-left: 4px double #fff;
  }
	// .next-button:first-child {
	// 	border-bottom: 4px double #fff;
	// }
	// .next-button:last-child {
	// 	border-top: 4px double #fff;
	// }

  .hidden-shadow-box {
    display: none;
  }
	.services-button {
		margin: 5% 0;
	}
	.services-section {
		padding-bottom: 10px;
	}
	.section-header {
		margin: 60px 0 0 0;
    font-size: 2em;
	}
  .contact-head {
    font-size: 2em;
  }
  .divider-line-case {
    width: 230px;
    margin-bottom: 30px;
  }
  .contact-divider-line-case {
    width: 150px;
    margin-bottom: 30px;
  }
  .desc-head {
    font-size: 1.6em;
  }
  .desc-body, .contact-info {
    font-size: 1.2em;
  }
  .thumb-holder {
    width: 100px;
    margin: 0 30px 0 0;
  }
  .show-next {
    font-size: 1.5em;
    margin: 30px 0;
  }
  .top-arrow {
    width: 50px;
    height: 50px;
  }
  .to-top-text {
    font-size: .8em;
  }
	.team-content {
		// padding: 10px 0;
	}
	.show-content {
		margin: 5% 0;
	}
	.members-contain {
		margin-bottom: 5px;
	}
  .zean-member-image {
    background-position: -356px -15px;
    background-size: 1800px;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    border: 3px solid #fff;
    margin-top: 10%;
  }
  .nick-member-image, .adrian-member-image {
  	border-radius: 50%;
  	width: 80px;
  	height: 80px;
  	border: 3px solid white;
  	margin-top: 10%;
  }
  .kiljan-member-image, .kane-member-image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 3px solid #fff;
    margin-top: 10%;
  }
  .kiljan-member-image {
    background-position: -284px -5px;
    background-size: 710px;
  }
  .nick-member-image {
    background-size: 1100px;
    background-position: -59px -8px;
  }
  .zean-member-image {
    background-position: -486px -20px;
    background-size: 2430px;
  }
  .adrian-member-image {
    background-position: -924px -3px;
    background-size: 1010px;
  }
  .kane-member-image {
    background-position: -469px -1px;
    background-size: 600px;
  }
  .zean-pic {
    background-position: -469px -1px;
    background-size: 2550px;
  }
  .nick-pic {
    background-position: -123px -11px;
    background-size: 2550px;
  }
  .adrian-pic {
    background-position: -2330px -1px;
    background-size: 2550px;
  }
  .kiljan-pic {
    background-position: -1006px -1px;
    background-size: 2550px;
  }
  .kane-pic {
    background-position: -1919px -1px;
    background-size: 2450px;
  }
	.mini-desc {
		width: 425px;
    font-size: 1.2em;
	}
	// .services-section::before {
	// 	border-top-color: #6ED3C7;
	// }
	.service {
		margin: 15px 0;
	}
	.service-desc {
		width: 365px;
	}
	.service-plug {
		padding: 30px 0;
	}
	.contact-section {
		padding-bottom: 80px;
	}
	.contact-head {
		padding 70px 0 0 0
	}

	.friends {
		font-size: .7em;
		width: 70px;
		transform: translateY(6px);
	}
	.partner-band {
		margin: 0 20px;
	}
	.partner, .scaled-partner, .downscaled-partner {
		width: 80px;
		height: 80px;
		margin: 25px 0;
	}
	.contact-info-box {
		width: 400px;
		border-left: 4px double #fff;
		border-right: 4px double #fff;
		padding: 0 30px;
	}
	.copy {
		font-size: 1em;
	}
	.team-welcome-head {
		font-size: 3em;
	}
	.team-welcome-sub {
		width: 75%;
		margin: 0 auto;
	}
	.team-banner {
		height: 50px;
		line-height: 2em;
		font-size: 1.6em;
		width: 250px;
	}
	.team-banner::before {
		border-top: 25px solid transparent;
		border-right: 25px solid #333;
		border-bottom: 25px solid #333;
		border-left: 25px solid transparent;
		left: -50px;
	}
	.team-banner::after {
		border-top: 25px solid transparent;
		border-right: 25px solid transparent;
		border-bottom: 25px solid #333;
		border-left: 25px solid #333;
		right: -50px;
	}
	.bio {
	}
	.zean-bio {
		padding-top: 30px;
	}
	.bio-image, .service-image {
		width 200px
		height 200px
	}
	.centered-bio-text {
		width: 500px;
		margin: 0 auto;
	}
	.bio-name {
		text-align: center;
		padding-left: 0;
	}
	// .bio-text {
	// 	padding: 10px 80px;
	// }
	// .member-image {
	// 	width 175px
	// 	height 175px
	// 	margin: 0;
	// 	margin-top: 15%;
	// }

	.plain-menu-box {
		border-top: 0;
	}
	.check-it {
		width: 100%;
		font-size: 1.6em;
		margin-bottom: 2%;
	}
  .nav-bar, .nav-center, .nav-bar-placeholder {
    height: 60px;
  }
}
@media (min-width: 850px) and (orientation: portrait) {
	.centered-bio-text {
		width: 600px;
	}
	.partner-band {
		margin: 0 20px;
		padding: 0 70px;
	}
	.partner, .scaled-partner, .downscaled-partner {
		width: 90px;
		height: 90px;
		margin: 30px 0;
	}
  .contact-info-box {
		width: 400px;
		border-left: 4px double #fff;
		border-right: 4px double #fff;
		padding: 0 30px;
	}
  .workers {
    display: flex;
  }
  .workers-header {
    display: block;
  }
  .workers-header, .workers {
    width: 540px;
  }

}
@media (min-width: 975px) and (orientation: portrait), (min-width: 975px) {
  .and-more {
    padding-right: 20px;
  }
	.nav-center {
		border-bottom: 1px solid silver;
	}
  .nav-bar, .nav-center, .nav-bar-placeholder {
    height: 60px;
  }
  .nav-bar {
    display: block;
  }
  .name {
    margin: 0 auto;
    padding-top: 20px;
  }
  .desktop-menu {
    display: flex;
    position: absolute;
    right: 0;
    top: 20px;
  }
  .menu-button {
    display: none;
  }
  .welcome-logo {
    width: 200px;
  }
  .logo-box {
    position: absolute;
    width: auto;
    padding: 5px;
  }
  .contact-logo-welcome {
    width: 70px;
    height: 70px;
  }
  .contact-info-box {
		width: 400px;
		border-left: 4px double #fff;
		border-right: 4px double #fff;
		padding: 0 30px;
	}

	.landing-logo-box {
		width: 350px;
	}
	.fading-list {
		height: 56px;
	}
	.alt-name, .studios {
		font-size: 3.5em;
	}
	.landing-line-case {
		width: 320px;
	}
	.line-case {
		width: 400px;
	}
	.divider-line {
		display: none;
	}
	.divider-line-case {
		width: 250px;
	}
	.button-bar {
		height: 70px;
	}

	.enter-button {
		padding: 0 70px;
		height: 50px;
		font-size: 1em;
		line-height: 2.9em;
		margin-top: 10px;
	}


	.next-button {
		width: 240px;
		height: 200px;
		margin: 0 20px;
    border: 10px double #fff;
	}
  .next-button:first-child {
    border-right: 10px double #fff;
  }
  .next-button:last-child {
    border-left: 10px double #fff;
  }
  .hidden-shadow-box {
    display: none;
  }

	.nav-bar {
		width: 935px;
		left: 50%;
		transform: translateX(-50%);
	}
	.welcome-logo-box {
		width: inherit;
	}
	.welcome-logo {
	}
	.brand-head {
		font-size: 3.4em;
		font-weight: 900;
	}
	.brand-sub {
		width: 430px;
	}
	.extra-desktop-services {
		display: block;
	}
	.section-header {
		margin: 30px 0 0 0;
		font-size: 2.2em;
	}
  .bottom-button {
    font-size: 1.1em;
  }
	.services-section {
		padding: 0;
	}
  .services-containing-container {
    height: calc(100vh - 60px);
    width: 100%;
  }
	.services-container {
		width: 100%;
		height: 100%;
    margin-top: 3px;
    margin-bottom: 0;
	}
	.service-pair {
		width 100%
		height: 50%;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		text-align: center;
	}
	.service-desc {
		width: 300px;
		padding: 5%;
	}
  .workers-header, .workers {
    width: 675px;
  }
	.service {
		flex-direction: column;
		width: 33.3333%;
		height: 100%;
		align-items: center;
		margin: 0;
		border: 2px solid black;
		transition: border 0s ease-in-out, background 0s ease-in-out;
	}
  .service:hover {
		border: 2px solid #adb0f3;
		background: #2C506D;
	}
	.service-plug {
		padding: 50px 0;
	}
	.team-welcome {
		margin: 0 auto;
	}
	.team-welcome-sub {
		width: 500px;
	}
	.team-banner {
		width: 200px;
	}
	.team-content {
		// padding: 50px 0 10px 0;
	}
	.team-content::before {
		border-width: 18px;
		top: -2px;
	}
	.bio-image-holder {

	}
	.centered-bio-text {
		width: 750px;
	}
	.bio-name {
		padding: 15px 0;
	}
	.thumb-holder {
		margin: 0 auto;
	}
	.contact-head {
		padding: 60px 0 0 0
	}
	.bio {
	}
	.zean-bio {
		padding-top: 30px;
	}
	.partner-band {
		width: 90%;
		margin: 0 auto;
	}
	.partner, .scaled-partner, .downscaled-partner {
		width: 90px;
		height: 90px;
	}
  .plain-menu-box {
    position: relative;
    bottom: auto;
    justify-content: center;
    padding-top: 50px;
  }
  .members-contain {
    width: 40%;
  }
}
@media (min-width: 1200px) and (orientation: portrait), (min-width: 1200px) {

	.welcome-logo {
		width: 250px;
	}
	.brand-head {
		font-size: 4.4em;
	}
	.brand-sub {
		font-size: 2.2em;
		width: 500px;
	}
	.line-case {
		width: 460px;
	}
  .plain-menu-box {
    padding-top: 50px;
  }
	.next-button {
		width: 260px;
		height: 200px;
	}
	.show-next {
		margin: 60px 0;
		width: 425px;
	}
	.services-container {
		// width: 1200px;
	}
	.bio {
	}
	.zean-bio {
		padding-top: 30px;
	}
	.partner-band {
		width: 1100px;
		margin: 0 auto;
	}
	.partner, .scaled-partner, .downscaled-partner {
		width: 90px;
		height: 90px;
	}
	.contact-foot {
		width: 1100px;
		margin: 0 auto;
	}
}
// @media screen and (min-width: 480px) and (max-width: 737px) and (orientation: landscape) {
// 	.nav-center {
// 		top: 50%;
// 		transform: translateY(-50%);
// 		left: auto;
// 		right: 0;
// 		width: 60px;
// 		height: 125px;
// 		border-top-left-radius: 20px;
// 		border-bottom-left-radius: 20px;
// 		border-top: 1px solid #2196f3;
// 		border-left: 1px solid #2196f3;
// 		border-bottom: 1px solid #2196f3;
// 		box-shadow: -1px 2px 2px 0 #999;
// 	}
// 	.nav-bar {
// 		width: 60px;
// 		height: 123px;
// 		flex-direction: column;
// 		justify-content: flex-start;
// 		border-bottom-left-radius: 20px;
// 		border-top-left-radius: 20px;
// 		border-bottom: none;

// 	}
// 	.logo-box {
// 		width: 50px;
// 		padding-top: 5px;
// 		left: 5px;
// 	}
// 	.name {
// 		display: none;
// 	}
// 	.desktop-menu {
// 		display: none;
// 	}

// 	.menu-button {
// 		display: block;
// 	}
// }
@media (min-width: 1024px) {
  .logo-box {
    margin: 0;
  }
  .stand-in, .content-indicator-backdrop {
    top: 60px;
  }
  .contact-logo-welcome {
    width: 100px;
    height: 100px;
  }
  .section-header, .contact-head {
    padding: 0;
    margin: 0;
    font-size: 3em;
  }

  // services section
  .to-services, .service-head {
		display: none;
	}
  .service-desc {
    width: 100%;
    padding: 5% 10%;
  }
  .desc-head {
    font-size: 1.6em;
    margin-bottom: 20px;
  }
  .desc-body {
    font-size: 1.1em;
    line-height: 1.2em;
  }

  // team section
  .divider-line-case {
    width: 320px;
  }
  .divider-line {
    display: block;
    margin: 10px 0 30px 0;
  }
  .team-banner {
    text-decoration: none;
  }
  .team-content {
    justify-content: center;
  }
  .team-container {
    width: 80%;
    margin: 0 0 50px 0;
  }
  .members-contain {
    width: 100%;
    margin: 20px 0 60px 0;
  }
  .zean-member-image {
  	background-position: -564px -22px;
    background-size: 2860px;
  	border-radius: 50%;
  	width: 140px;
  	height: 140px;
  	border: 3px solid white;
  	margin-top: 10%;
  }
  // contact section
  .contact-divider-line-case {
    width: 230px;
  }
  .emailer {
    height: auto;
  }
  .contact-info-head {
    width: 60px;
    height: 60px;
  }
  .contact-info {
    font-size: 1.4em;
  }
  .top-arrow {
    width: 50px;
    height: 50px;
  }
  .to-top-text {
    font-size: 1.1em;
  }
  .arrow-and-text {
    margin-top: 50px;
  }
.nick-member-image, .adrian-member-image, .kiljan-member-image, .kane-member-image {
	border-radius: 50%;
	width: 140px;
	height: 140px;
	border: 3px solid white;
	margin-top: 10%;
}
.adrian-member-image, .adrian-pic, .zean-member-image, .zean-pic, .nick-member-image, .nick-pic, .kiljan-member-image, .kiljan-pic, .kane-pic, .kane-member-image {
	background-image: url("/photos.jpg");
	background-repeat: no-repeat;
}
.nick-member-image{
	background-size: 1500px;
  background-position: -68px -6px;
}
.adrian-member-image{
	  background-position: -1442px -2px;
    background-size: 1580px;
}
.kiljan-member-image {
  background-position: -677px -7px;
  background-size: 1720px;
}
.kane-member-image{
	background-position: -1372px -6px;
  background-size: 1750px;
}
.mini-desc {
  width: 70%;
  font-size: 1.3em;
  line-height: 1.3em;
}
.member {
  transition: transform .2s ease-in-out;
}
.member:hover {
  transform: scale(1.3);
}
// .adrian-pic {
// 	background-size: 1480px;
// 	background-position: -1347px 0px;
// }
// .nick-pic {
// 	background-size: 1280px;
// 	background-position: -55px 0px;
// }
// .kiljan-pic {
// 	background-position: -738px 0px;
// 	background-size: 1400px;
// }
// .kane-pic {
// 	background-position: -1088px -2px;
// 	background-size: 1400px;
// }

  .show-next {
    width: auto;
    font-size: 1.5em;
    padding: 0 15px;
    transition: all .2s ease-in-out;
  }
  // contact section
  .check-it {
    margin: 0 auto 10px auto;
  }

  .blue-line-case {
    width: 196px;
  }
  .blue-line {
    height: 3px;
  }
  .team-banner {
    transition: letter-spacing .1s ease-in-out;
  }
  .thumb-holder {
    width: 140px;
  }
  .service-thumb {
    height: auto;
    width: auto;
  }
  .service-thumb-holder {
    width: 175px;
  }

  .future-lettering {
    letter-spacing: 4px;
  }
  .button-text-group {
    transition: transform .1s ease-in-out;
  }
  .button-text-group:hover {
    transform: scale(1.1, 1.1);
  }
  .contact-logo {
    width: 100px;
    height: 100px;
  }
  .team-welcome-head {
    font-size: 3em;
  }
  .team-welcome-sub {
    font-size: 1.5em;
  }
  .contact-box-container {
    padding: 60px 0;
  }
  .contact-info-box {
    width: 440px;
  }
  .contact-service-plug {
    padding: 7% 0;
  }
  .address-link:hover, .mailer:hover {
    cursor: pointer;
    transition: all .5s ease;
    color: #adb0f3;
  }
  // services page
  // .service-image {
  //   margin: 0 auto;
  //   width: 150px;
  //   height: auto;
  // }

  // team page
  .bio-thumb-holder {

  }
  .bio-image {
    width: 200px;
    height: 200px;
  }
  // team page
  .realms-holder {
    display: block;
    width: 100%;
    padding: 0 5%;
  }
  .workers-header {
    width: 100%;
    padding: 10px 5% 0 5%;
  }
  .realm-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 60px;
    height: 60px;
    border: 2px solid #333;
    background: #6b9b4c;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 2px;

  }
  .realms, .workers {
    display: flex;
    width: 100%;
  }
  .realms-header {
    width: 100%;
    padding-top: 10px;
  }
  .realm {
    width: 50px;
    margin: 2px;
  }
  .worker {
    width: 60px;
  }


}
@media (min-width: 1200px) {
  .all-content-wrapper {
    background: #adb0f3;
  }
  .all-content {
    width: 1200px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 0 10px 10px rgba(0,0,0,.2);
  }
}
@media (max-width: 1023px) and (orientation: landscape)  {

}

@media (max-width: 736px) and (orientation: landscape) {
  .landing-logo-box {
    width: 25%;
  }
  .menu-item {
    padding: 3% 0;
  }
  .intro, .team-section, .services-section, .contact-content {
    height: 100vh;
    justify-content: center;
    padding-top: 0;
  }
  .team-content {
    height: auto;
  }
  .hidden-shadow-box {
    margin-top: 10px;
  }

  .welcome-logo-box {
    margin-top: 5px;
  }
  .line-case, .brand-sub {
    display: none;
  }
  .next-button {
    width: 65px;
    height: 65px;
  }
  // services section
  .section-header {
    margin-bottom: 0px;
  }
  .services-section-header {
    margin-bottom: 10px;
  }
  .services-section {
    padding-top: 0;
  }

  .divider-line-case {
    display: none;
  }
  .sp-1 {
    display: flex;
    justify-content: space-around;
  }
  .service {
    flex-direction: column;
    justify-content: flex-start;
    width: 32%;
    margin: 0;
    padding: 5px;
    padding-top: 0;
    border-radius: 5px;
    background: #1b3041;
    border: 1px solid blue;
  }
  .thumb-holder {
    margin: 5px auto;
    width: 60px;
  }
  .service-thumb-holder {
    margin: 10px auto;
    width: 100px;
  }
  .service-desc {
    width: auto;
  }
  .desc-head {
    text-align: center;
    font-size: 1em;
  }
  .desc-body {
    font-size: .8em;
  }
  .show-next {
    // margin: 10px 0 20px 0;
    transform: translateY(12px);
    position: absolute;
    right: 20px;
  }

  .animation-element.in-view.to-team {
    transform: translateY(-10px);
  }
  // team section
  .team-container {
    margin: 0;
  }
  .mini-desc {
    font-size: 0.95em;
    line-height: 1.15em;
  }
  .home-banners {
    width: 100px;
  }
  .bottom-banner {
    top: 0;
  }
  .landscape-hide {
    display: none;
  }
  .home-nav {
    display: none;
    position: fixed;
    width: 100%;
    height: 30px;
    bottom: 0;
    z-index: 10;
    transition: display .3s ease-in-out;
  }
  .forward-wrapper {
    transform: translateX(110%);
  }
  .backward-wrapper {
    transform: translateX(-210%);
  }
  .blue-line-case {
    width: 100px;
  }
  // contact section
  .contact-info-grouping {
    padding: 0;
  }
  .arrow-and-text {
    margin: 10px 0 44px 0;
  }
  .contact-head {
    margin-bottom: 5px;
    // text-shadow: 1px 1px #222;
  }
  // .section-header {
  //   text-shadow: 1px 1px #222;
  // }
  // .contact-info {
  //   padding-bottom: 8px;
  // }

  // team PAGE
  .logo-box, .menu-button {
    width: 50px;
  }
  .bio {
    justify-content: center;
    -webkit-tap-highlight-color: transparent;
  }
  .bio-image {
    margin: 5px auto;
  }
  .bio-content {
    flex-direction: row;
    padding: 0 10px;
  }
  .centered-bio-text {
    width: 75%;
  }
  .bio-name {
    font-size: 1em;
    padding: 0;
  }

  // services PAGE
  .bio {
    justify-content: flex-end;
  }
  .bio-text {
    padding: 2% 10px;
    font-size: 1em;
    line-height: 1.2em;
  }
  .service-image {
    width: auto;
    height: 100px;
    margin-bottom: 5px;
  }
  .web-icon {
    background-position: -247px 0;
  }
  .graphic-icon {
    background-position: -433px 0;
  }
  .repair-icon {
    background-position: 34px 0;
  }
  .systems-icon {
    background-size: 800px;
    background-position: -602px 10px;
    margin-bottom: 0;
  }
  .social-icon {
    background-position: -105px 0;
  }
  .support-icon {
    background-position: -919px 0;
  }
  .down-arrow-case {
    display: block;
    transform: translateY(20%);
    width: 28.5%;
    margin: 0 auto;
    color: rgba(0, 0, 0, .1);
    font-size: .8em;
  }
  .next-service {
    padding-bottom: 5px;
  }
  .down-arrow {
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: 10px solid rgba(0, 0, 0, .1);
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
  }
  .bio-image-holder {
    width: 28.5%;
    margin: 0 auto;
  }
  // contact PAGE
  .team-welcome {
    padding: 0;
    margin: 10px auto;
  }
  .contact-info-box {
    width: 60%;
  }
}
// @media (max-width: 974px) and (min-width: 481px) and (orientation: landscape) {
//   .welcome-logo {
//     width: 100px;
//   }
//
//   .desktop-menu {
//     margin-right: 0;
//   }
//   .services-containing-container {
//     margin-top: 0;
//   }
//   .services-section {
//     padding-bottom: 0;
//   }
//   .team-content {
//     margin-top: 0;
//   }
//   .contact-content {
//     padding: 0;
//   }
//   .members-contain {
//     width: 90%;
//   }
//   .logo-box {
//     width: 10%;
//     padding: 0;
//   }
//   .menu-button {
//     width: 10%;
//   }
//   .next-button {
//     width: 65px;
//     height: 65px;
//   }
//   // services section on home page
//   .service-pair {
//     position: relative;
//     max-width: 736px;
//     display: flex;
//   }
//   .extra-desktop-services {
//     display: none;
//   }
//   .services-containing-container {
//     padding: 2% 0;
//   }
//   .service {
//     width: 33.3333%;
//     flex-direction: column;
//     margin: 0 10px;
//     padding: 10px;
//     align-items: center;
//     justify-content: center;
//     background: #12202b;
//     box-shadow: inset 0px 2px 6px 1px rgba(15, 27, 36, 1);
//   }
//   .service-desc {
//     width: auto;
//     text-align: center;
//   }
//   .desc-body {
//     text-align: center;
//   }
//   .thumb-holder {
//     width: 35%;
//     margin: 0;
//   }
//   .contact-info-head {
//     width: 40px;
//     height: 40px;
//   }
//   .contact-info {
//     font-size: 1.1em;
//   }
//   .plain-menu-box {
//     margin-bottom: 0px;
//   }
//
// }
