blue = #074E88
lightBlue = #2196F3
html {
  box-sizing: border-box;
  min-width: 300px;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-family: "Helvetica Neue";
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	max-width: 100%;
}

/*index.html page*/
/*index.html page*/

/*landing-intro section*/
.landing-intro {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	// margin-top: 70%
	// transform: translateY(-70%);
}
.landing-logo-box {
	width: 60%;
	text-align: center;
}
.landing-name {
	color: #F4A259;
	font-size: 3em;
	text-align: center;
}
.line {
	margin: 2% 0;
	width: 0%;
	height: 3px;
	background: #40C6FF;
}
.button-bar {
	/*padding: 10px 0;*/
	width: 100%;
	height: 13.6%;
	text-align: center;
}
.enter-button {
	display: none;
	color: #2B8DB7;
	font-family: "Helvetica Neue";
	text-decoration: none;
	font-style: none;
	font-size: 1.7em;
	padding: 1% 2%;
	line-height: 2.5em;
	font-weight: 600;
	border-radius: 4px;
	background: #40C6FF;
	border-bottom: 5px solid #37AFE2;
	transition: color .1s ease-in-out;
	box-shadow: 0px 2px 2px 1px rgba(0,0,0,.5);
}
/*	.enter-button:hover {
	color: #00608A;
}*/
.enter-button:active {
	color: #37AFE2;
	background: #80D9FF;
	border-bottom: 4px solid #37AFE2;
	
}


/*home.html page*/
/*home.html page*/

/*intro section*/
.intro {
	width: 100%;

}
.nav-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #333;
	padding: 0 1%;
}
.logo-box {
	width: 15%;
	padding: 2% 0 2% 1.5%;
}
.name {
	color: #F4A259;
	font-size: 1.7em;
}
.studios {
	color: #16A8C7;
}
.menu-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 15%;
	font-size: 3em;
	color: white;

	cursor: pointer;
}

.menu {
	display: none;
	background: #555;
	font-size: 2em;
	text-align: center;
}
.menu-item {
	border-bottom: 1px solid grey;
	padding: 4% 0;
}
.menu-link {
	color: #FFF;
	text-decoration: none;
}
.menu-item:first-child, .menu-item:last-child {
	background: #666;
}
.welcome-page {
	color: #333;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.welcome-logo-box {
	margin-top: 5%;
	width: 35%;
}
.brand-head {
	color: #444;
	font-size: 3em;
	margin-bottom: 1%;
}
.grey-studios {
	color: #777;
}
.brand-sub {
	color: #03A9F4;
	padding: 0% 3% 4% 3%;
	font-size: 1.7em;
	/*font-weight: 200;*/
	width: 90%;
}
/*.project-text {
	color: #555;
	margin-top: 10%;
	font-size: 2.2em;
	font-weight: 600;
	line-height: 1.1em;
}
.project-line-one {
	color: #FF6767;
}*/
.bottom-button {
	margin: 3% 0;
}
.next-button {
	width: 100%;
	color: #FFF;
	font-family: "Helvetica Neue";
	text-decoration: none;
	font-size: 1.7em;
	line-height: 1.7em;
	font-weight: 600;
	padding: 3% 5%;
	background: #2196F3;
	// border-top: 2px solid #FFF;
	border-bottom: 2px solid #555;
	// box-shadow: 0px 0px 0px 3px #2196F3;
}

.just-looking {
	width: 90%;
	margin-top: 10%;
	font-size: 1.2em;
}
/*.menu-item:hover {
	background: #666;
}*/

/*end of intro section*/

/*start of team section*/
.team-section {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	color: white;
}

.team-content {
	background: #333;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 10% 0;
	position: relative;
}

.team-section-header {
	font-size: 2em;
	font-weight: 600;
	color: #2196F3;
	margin-bottom: 5%;
}
.the-team {
	color: #F4A259;

}
.divider-line {
	width: 30%;
	height: 3px;
	background: #fff;
}
.members-contain {
	display: flex;
	margin-bottom: 10%;
}
.zean {
	position: relative;
	z-index: 2;
}
.nick {
	position: relative;
	left: 50%;
	transform: translateX(-140%) scale(.7);
	z-index: 0;
}
.adrian {
	position: relative;
	left: 0%;
	transform: translateX(-10%) scale(.7);
	z-index: 1;
}
.member-image {
	border-radius: 50%;
	width: auto;
	height: 20vh;
	border: 4px solid white;
	margin-top: 10%;
}
.nameplate {
	display: block;
	padding-top: 4%;
	font-size: 1.5em;
}
.mini-desc {
	color: silver;
	width: 80%;
	margin: 2% auto;
	font-size: 1.4em;
	line-height: 1.1em
	text-align: left;
	font-family: "Charter";
}
.show-next {
	text-decoration: none;
	text-align: center;
	color: white;
	font-size: 1.8em;
	line-height: 1.8em;
	background: #666;
	border: 4px solid white;
	border-radius: 4px;
	box-shadow: 0px 0px 0px 4px #666;
	margin-top: 10%;
	padding: 0 10%;
}


/*end of team section*/

/*start of services section*/
.services-section {
	margin: 5% 0 15% 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #FFF;
	color: #555;
}
.services-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 5%;
}
.service-head {
	margin-bottom: 3%;
	text-align: center;
	font-size: 2em;
	font-weight: 600;
	color: #2196F3;
}
.you {
	color: #F4A259;
}
.divider-line-grey {
	margin-bottom: 10%;
	width: 30%;
	height: 3px;
	background: #666;
	
}
.service {
	display: flex;
	margin: 3% 0;
	width: 100%;
}
	
.thumb-holder {
	display: flex;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	width: 20%;
	margin-right: 4%;
}
.service-desc {
}
.desc-head {
	margin-bottom: 3%;
	font-size: 1.3em;
	color: #2196F3;
}
.desc-body {
	font-size: 1.1em;
	color: #666;
}
.services-button {
	text-decoration: none;
	text-align: center;
	color: white;
	font-size: 1.8em;
	line-height: 1.8em;
	background: #666;
	border: 4px solid white;
	border-radius: 4px;
	box-shadow: 0px 0px 0px 4px #666;
	margin-top: 10%;
	padding: 0 10%;
}



/*end of services section*/

/*start of contact section*/
.contact-section {
	background: #2196F3;
	color: white;
	font-size: 1.4em;
	padding-bottom 10%
	
}
.contact-head {
	padding: 5% 0;
    text-align: center;
    font-size: 2em;
    font-weight: 600;
    color: #fff;
}
.last-divider-line-grey {
	margin: 0 auto 10% auto;
	width: 30%;
	height: 3px;
	background: blue;
	
}
.info-box {
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	margin: 0 auto;
}
.label-group {
	width: 14%;
	margin: 0 auto;
}
.info-group {
	width: 60%;
	margin: 0 0 0 auto;
}
.info-head {
	color: blue;
	padding: 10px 0;
}
.info {
	padding: 10px 0;
}
.top-button-box
	display flex
	
.to-top-button
	text-decoration: none;
	text-align: center;
	color: white;
	font-size: 1.4em;
	line-height: 1.4em;
	background: #666;
	border: 4px solid white;
	border-radius: 4px;
	box-shadow: 0px 0px 0px 4px #666;
	margin: 10% auto 0 auto;
	padding: 0 10%;

/*end of contact section*/

// footer section

.foot
	display flex
	flex-direction column
	font-weight 600
	background-color blue

.foot-list
	padding 5% 0 0 10%	

.foot-head
	font-size 1.3em
	padding-bottom 2%
	color #2196F3
	
.foot-item 
	font-size 1.1em
	padding-bottom 1%
	color #888
	
.copy
	width 100%
	text-align right
	padding 5% 5%
	color #888
	font-family "Open Sans"




// team page content starts here

.team-welcome {
	text-align: center;
	width: 90%;
	margin: 10% auto;
	padding: 4% 0;
	
}
.team-welcome-head {
	font-size: 2em;
	font-family "Open Sans"
	font-weight 900
	color #333
	padding: 5px;
	
}
.team-welcome-sub {
	font-size 1.4em
	color: #444;
	padding: 2% 0;
}
.gray-lines-and-banner {
	display flex
	align-items center
	justify-content space-between
	
}
.gray-line-one {
	background #333
	height 2px
	width 20%
	margin-left: 2%;
	
}
.team-banner {
	background-color #333
	color white
	font-size 1.4em
	line-height: 1.4em;
	height: 30px;
	width: 40%;
	text-align: center;
	margin 0 auto
	position: relative;
	
}
.team-banner::before {
	left: -30px;
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-right: 15px solid #333;
	border-bottom: 15px solid transparent;
	border-left: 15px solid transparent;
}
.team-banner::after {
	right: -30px;
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid #333;
}

.gray-line-two {
	background #333
	height 2px
	width 20%
	margin-right: 2%;
	
}

.team-bios {
	width: 90%;
	margin: 0 auto;
	// text-align: center;
}
.bio {
}
.bio-image-holder {
	text-align: center;
}
.bio-image {
	border-radius: 50%;
	width: auto;
	height: 20vh;
	border: 4px solid #333;
	margin-top: 10%;
}
.bio-name {
	display: block;
	padding: 8% 0 2% 0;
	font-size: 1.7em;
	color: #333
}
.bio-text {
	padding: 2% 0;
	font-size 1.2em
	line-height: 1.2em;
}
.bio-divider {
	background #333
	height 2px
	width 100%
	margin: 10% auto 0 auto;
}
.service-plug
	text-align: center;
	margin: 10% 2.5%;

.check-it 
	font-size 1.2em
	font-weight: 500;
	color: #333;
	line-height: 1.2em;
	margin-bottom: 5%;
	
// team page content ends here

// services page starts here (and uses some of the team page selectors above)

.service-title
	color blue
	

// services page ends here

// contact page starts here
.contact-info {
	font-size: 1.3em
}
.contact-page-info-box {
	width: 90%;
	display: flex;
	justify-content: center;
	margin: 8% auto;
}
.contact-page-labels {
	width: 14%;
	margin: 0 auto 0 7%;
}
.contact-page-info {
	width: 60%;
	margin: 0;
}





