html {
  box-sizing: border-box;
  min-width: 300px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: "Helvetica Neue";
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  max-width: 100%;
}
/*index.html page*/
/*index.html page*/
/*landing-intro section*/
.landing-intro {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.landing-logo-box {
  width: 60%;
  text-align: center;
}
.landing-name {
  color: #f4a259;
  font-size: 3em;
  text-align: center;
}
.line {
  margin: 2% 0;
  width: 0%;
  height: 3px;
  background: #40c6ff;
}
.button-bar {
/*padding: 10px 0;*/
  width: 100%;
  height: 13.6%;
  text-align: center;
}
.enter-button {
  display: none;
  color: #2b8db7;
  font-family: "Helvetica Neue";
  text-decoration: none;
  font-style: none;
  font-size: 1.7em;
  padding: 2% 6%;
  line-height: 2.5em;
  font-weight: 600;
  border-radius: 4px;
  background: #40c6ff;
  -webkit-transition: all 0.01s linear;
  transition: all 0.01s linear;
  box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.4);
}
/*	.enter-button:hover {
	color: #00608A;
}*/
/*home.html page*/
/*home.html page*/
/*intro section*/
.intro {
  width: 100%;
}
.nav-bar {
  max-height: 60px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  padding: 0 1%;
  border-bottom: 1px solid #c0c0c0;
  position: fixed;
  z-index: 11;
}
.nav-bar-placeholder {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  padding: 0 1%;
  border-bottom: 1px solid transparent;
  height: 50.9px;
}
.logo-box {
  width: 15%;
  padding: 2% 0 2% 1.5%;
}
.nav-logo {
  max-height: 50px;
}
.name {
  color: #f4a259;
  font-size: 1.6em;
  text-align: center;
}
.studios {
  color: #16a8c7;
}
.menu-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15%;
  font-size: 3em;
  color: #333;
  cursor: pointer;
}
.menu {
  display: none;
  background: #555;
  font-size: 2em;
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 11;
}
.menu-item {
  border-bottom: 1px solid #808080;
  padding: 4% 0;
}
.menu-link {
  color: #fff;
  text-decoration: none;
}
.menu-item:first-child,
.menu-item:last-child {
  background: #666;
}
.fa {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
.welcome-page {
  color: #333;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.welcome-logo-box {
  margin-top: 5%;
  width: 35%;
}
.brand-head {
  color: #444;
  font-size: 3em;
  margin-bottom: 1%;
}
.grey-studios {
  color: #777;
}
.brand-sub {
  color: #03a9f4;
  padding: 0% 3% 4% 3%;
  font-size: 1.7em;
/*font-weight: 200;*/
  width: 90%;
}
/*.project-text {
	color: #555;
	margin-top: 10%;
	font-size: 2.2em;
	font-weight: 600;
	line-height: 1.1em;
}
.project-line-one {
	color: #FF6767;
}*/
.bottom-button {
  margin: 3% 0;
}
.next-button {
  width: 100%;
  color: #fff;
  font-family: "Helvetica Neue";
  text-decoration: none;
  font-size: 1.7em;
  line-height: 1.7em;
  font-weight: 600;
  padding: 3% 5%;
  background: #2196f3;
  border-bottom: 2px solid #555;
}
.just-looking {
  width: 90%;
  margin-top: 10%;
  font-size: 1.2em;
}
/*.menu-item:hover {
	background: #666;
}*/
/*end of intro section*/
/*start of team section*/
.team-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #fff;
}
.team-content {
  background: #91dea1;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10% 0;
  position: relative;
}
.section-header {
  font-size: 2em;
  font-weight: 600;
  color: #2196f3;
  margin: 10% 0 5% 0;
  text-align: center;
}
.the-team {
  color: #f4a259;
}
.divider-line {
  width: 30%;
  height: 3px;
  background: #fff;
}
.members-contain {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10%;
}
.zean {
  position: relative;
  z-index: 2;
}
.nick {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-140%) scale(0.7);
          transform: translateX(-140%) scale(0.7);
  z-index: 0;
}
.adrian {
  position: relative;
  left: 0%;
  -webkit-transform: translateX(-10%) scale(0.7);
          transform: translateX(-10%) scale(0.7);
  z-index: 1;
}
.member-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 4px solid #fff;
  margin-top: 10%;
}
.nameplate {
  display: block;
  padding-top: 4%;
  font-size: 1.5em;
  color: #318fbc;
}
.mini-desc {
  color: #333;
  width: 80%;
  margin: 2% auto;
  font-size: 1.4em;
  line-height: 1.1em;
  text-align: left;
  font-family: "Charter";
}
.show-next {
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 1.8em;
  line-height: 1.8em;
  background: #666;
  border: 4px solid #fff;
  border-radius: 7px;
  box-shadow: 0px 0px 0px 4px #666;
  margin-top: 10%;
  padding: 0 10%;
}
/*end of team section*/
/*start of services section*/
.services-section {
  margin: 5% 0 15% 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  color: #555;
}
.services-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.you {
  color: #f4a259;
}
.divider-line-grey {
  margin-bottom: 10%;
  width: 30%;
  height: 3px;
  background: #666;
}
.service {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 3% 5%;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.thumb-holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  margin-right: 4%;
}
.service-desc {
  width: 70%;
}
.desc-head {
  margin-bottom: 3%;
  font-size: 1.3em;
  color: #2196f3;
}
.desc-body {
  font-size: 1.1em;
  color: #666;
}
.services-button {
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 1.8em;
  line-height: 1.8em;
  background: #666;
  border: 4px solid #fff;
  border-radius: 7px;
  box-shadow: 0px 0px 0px 4px #666;
  margin-top: 10%;
  padding: 0 10%;
}
/*end of services section*/
/*start of contact section*/
.contact-section {
  position: relative;
  background: #2196f3;
  color: #fff;
  font-size: 1.4em;
  padding-bottom: 10%;
}
.top-arrow {
  display: none;
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 2.5em;
  cursor: pointer;
  color: #fff;
  z-index: 6;
}
.smooth {
  cursor: pointer;
}
.contact-head {
  padding: 5% 0;
  text-align: center;
  font-size: 2em;
  font-weight: 600;
  color: #fff;
}
.last-divider-line-grey {
  margin: 0 auto 10% auto;
  width: 30%;
  height: 3px;
  background: #074e88;
}
.info-box {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}
.label-group {
  width: 14%;
  margin: 0 auto;
}
.info-group {
  width: 60%;
  margin: 0 0 0 auto;
}
.info-head {
  color: #074e88;
  padding: 10px 0 5px 0;
}
.info {
  padding: 5px 0 10px 0;
}
.top-button-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.to-top-button {
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 1.4em;
  line-height: 1.4em;
  background: #666;
  border: 4px solid #fff;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 4px #666;
  margin: 10% auto 0 auto;
  padding: 0 10%;
}
/*end of contact section*/
.foot {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 600;
  background-color: #074e88;
}
.foot-list {
  padding: 5% 0 0 10%;
}
.foot-head {
  font-size: 1.3em;
  padding-bottom: 2%;
  color: #2196f3;
}
.foot-item {
  font-size: 1.1em;
  padding-bottom: 1%;
  color: #888;
}
.copy {
  width: 100%;
  text-align: right;
  padding: 5% 5%;
  color: #888;
  font-family: "Open Sans";
}
.team-welcome {
  text-align: center;
  width: 90%;
  margin: 10% auto;
  padding: 4% 0;
}
.team-welcome-head {
  font-size: 2em;
  font-family: "Open Sans";
  font-weight: 900;
  color: #333;
  padding: 5px;
}
.team-welcome-sub {
  font-size: 1.4em;
  color: #444;
  padding: 2% 0;
}
.gray-lines-and-banner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.team-banner {
  background-color: #333;
  color: #fff;
  font-size: 1.2em;
  line-height: 1.6em;
  height: 30px;
  width: 50%;
  text-align: center;
  margin: 0 auto;
  position: relative;
  font-family: Charter;
}
.team-banner::before {
  left: -30px;
  top: 0;
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-right: 15px solid #333;
  border-bottom: 15px solid #333;
  border-left: 15px solid transparent;
}
.team-banner::after {
  right: -30px;
  top: 0;
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #333;
  border-left: 15px solid #333;
}
.team-bios {
  width: 100%;
}
.bio {
  padding-bottom: 15%;
  padding-top: 10%;
}
.zean-bio {
  background-color: #7ddceb;
  border-top: 2px solid #333;
  padding-top: 4%;
}
.alt-bio {
  background-color: #7ddceb;
  position: relative;
}
.nick-bio {
  background-color: #e9e092;
  position: relative;
}
.adrian-bio {
  background-color: #90dca0;
  position: relative;
}
.adrian-bio {
  background-color: #90dca0;
  position: relative;
  border-bottom: 2px solid #333;
}
.bio-image-holder {
  text-align: center;
}
.bio-image {
  border-radius: 50%;
  width: auto;
  height: 20vh;
  border: 4px solid #333;
  margin-top: 10%;
}
.bio-name {
  display: block;
  padding: 8% 3% 2% 3%;
  font-size: 1.7em;
  color: #333;
}
.bio-text {
  padding: 2% 3%;
  font-size: 1.2em;
  line-height: 1.2em;
}
.service-plug {
  text-align: center;
  margin: 10% 2.5%;
}
.check-it {
  font-size: 1.2em;
  font-weight: 500;
  color: #333;
  line-height: 1.2em;
  margin-bottom: 5%;
}
.alt-bio::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-bottom: 0;
  top: 0;
  left: 50%;
  border-top-color: #e9e092;
  border-width: 16px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.nick-bio::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-bottom: 0;
  top: 0;
  left: 50%;
  border-top-color: #7ddceb;
  border-width: 16px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.adrian-bio::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-bottom: 0;
  top: 0;
  left: 50%;
  border-top-color: #e9e092;
  border-width: 16px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.service-title {
  color: #074e88;
}
.contact-info-box {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}
.contact-info-head {
  color: #074e88;
  padding: 10px 0 5px 0;
  font-size: 1.2em;
}
.contact-info {
  padding: 5px 0 10px 0;
  font-size: 1.3em;
}
@media (max-width: 413px) {
  .nav-bar-placeholder {
    height: 41px;
  }
  .name {
    font-size: 1.3em;
  }
  .menu-item {
    font-size: 0.8em;
  }
  .menu-button {
    font-size: 2.5em;
  }
  .brand-head {
    font-size: 2em;
  }
  .brand-sub {
    font-size: 1.3em;
  }
  .next-button {
    font-size: 1.2em;
    line-height: 1.2em;
  }
  .thumb-holder {
    width: 15%;
  }
  .team-content {
    padding: 5% 0 10% 0;
  }
  .section-header {
    font-size: 1.7em;
  }
  .member-image {
    height: 100px;
    width: 100px;
  }
  .mini-desc {
    font-size: 1.2em;
  }
  .show-next {
    font-size: 1.3em;
    line-height: 1.3em;
  }
  .services-section {
    padding: 0;
  }
  .service {
    margin: 3% 0;
  }
  .services-button {
    font-size: 1.3em;
    line-height: 1.3em;
  }
  .contact-section {
    font-size: 1.2em;
  }
  .contact-head {
    font-size: 1.7em;
  }
  .last-divider-line-grey {
    margin: 0 auto 5% auto;
  }
  .foot-list {
    padding: 5% 0 0 5%;
  }
  .foot-head {
    font-size: 1em;
  }
  .foot-item {
    font-size: 0.8em;
  }
  .copy {
    padding: 2% 5%;
    font-size: 0.8em;
  }
}
